<div class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="#/">chatter</a>
          </div>

        </div>
      </div>	


<div class="container">

	<h1 align="center">All Messages</h1>
	<p>This page shows your current geolocation on the map. It also shows every message posted to the chatter service. This is mainly for testing purposes to see that there are a 
		lot of messages in our database and it is only pulling in ones within a mile of the user's current location.</p>

<br>

<article>
      <span id="status"><p>Finding your location: checking...</p></span>
</article>

<br>
<p align="center"><a class="btn btn-lg btn-success" ng-href="#/chat">GET BACK TO CHATTERING</a></p>
<br>

<table class="table table-striped">
	<tr>
		<th align="center">Message</th>
		<th align="center">LAT</th>
		<th align="center">LON</th>
	</tr>

	<tr ng-repeat="message in messages">
		<td>{{message.text}}</td>
		<td>{{message.gps.lat}}</td>
		<td>{{message.gps.lon}}</td>
	</tr>
</table>

<p class="alert alert-danger" ng-show="err">{{err}}</p>


</div>