

<div class="jumbotron">

  <h1>chatter</h1>
  <p class="lead">
    click to see what everyone is chattering about...
  </p>
  <p><a class="btn btn-lg btn-success" ng-click="getLocation();" ng-href="#/chat">DO IT! YOU KNOW YOU WANT TO!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="container">
  <div class="row marketing">
    <h3>Welcome to chatter.</h3>
    <p>chatter is your place to anonymously post messages near your current location. We do not log any personal information or anything to identify the user. All anonymous. All the time. Lets chatter.</p>
  </div>
</div>