<div class="navbar navbar-default" role="navigation">
	<div class="container">
	  <div class="navbar-header">
	    <a class="navbar-brand" href="#/">chatter</a>
	  </div>

	</div>
</div>	

<br>

<div class="container">

<h1 align="center">Map</h1>
<p>This page shows the location of each message posted to chatter. Hover over each marker to see the message.</p>

<br>

<!--<form ng-click="addMessage(newMessage);newMessage = null;">
	<div class="input-group">
		<input type="text" class="form-control" placeholder="Message..." ng-model="newMessage">
		<div class="input-group-btn" >
		<button class="btn btn-default" type="submit" >Submit</button></div>
	</div>
</form> 

<br> -->
<article>
      <span id="status"><p>Finding your location: checking...</p></span>
</article>

</div>

<br>

<div class="container">
	<p align="center"><a class="btn btn-lg btn-success" ng-href="#/chat">GET BACK TO CHATTERING</a></p>
</div>

<p class="alert alert-danger" ng-show="err">{{err}}</p>


</div>